@use "../../colors" as *;

.BookaSessionBtn {
  background: $btncolor;
  border-radius: 10px;
  height: 3rem;
  width: 11.5rem;
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: $btntextcolor;
  //   font-weight: 500;
  //   font-size: 20px;
}
